@charset "UTF-8";

:root {
    --color1: #65bc8e;
    --color2: #32323D;
    --color3: #454758;
    --color4: #e7e7e7;
    --color5: #8c8c8c;
    --color6: #aeaeae;
    --color7: #212128;

    --default-gap: 2rem;
}

html, body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    color: var(--color4);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../imagens/bg-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

h1 {
    font-size: 3.5rem;
    color: var(--color6);
    margin-bottom: 3rem;
    font-weight: bolder;
    text-shadow: .0625rem .0625rem .3125rem rgba(0, 0, 0, 0.396);
}

h2, h3, h4, h5, h6 {
    color: var(--color1);
}

p, blockquote {
    margin: 1rem 0 2rem;
}

.highlight {
    border-left: 1px solid var(--color1);
    padding-left: 2rem;
    margin-bottom: 2.2rem;
}

section {
    margin-bottom: 3rem;
}

.underline {
    text-decoration: red wavy underline;
}

.main-header {
    flex: 0 0 16rem;
    background-color: var(--color2);
    background-color: rgba(50, 50, 61, .8);
    padding: 2rem;
}

.main {
    flex: 1 0;
    background-color: var(--color3);
    background-color: rgba(69, 71, 88, .6);
    padding: 4rem 5.5rem 4rem;
    font-size: 1.3rem;
}

a {
    color: inherit;
}

.link-icon{
    text-decoration: none;
    margin-right: 2rem;
}

.link-icon i{
    font-size: 2rem;
    margin-left: .5rem;
    text-shadow: 0px 0px 10px var(--color1);
}

.perfil-img {
    max-width: 12rem;
    border-radius: 50%;
    text-align: left;
}

.main-nav {
    position: sticky;
    top: 35px;
    left: 0;
    text-align: center;
    padding-top: 20px;
}

.main-nav ul {
    list-style-type: none;
    padding: 2.5rem 0;
}

.main-nav ul a {
    display: block;
    padding: 1rem 0;
    text-decoration: none;
    transition: letter-spacing .4s ease, background-color .4s ease;
    background-color: transparent;
    font-weight: normal;
    letter-spacing: 0;
}

.main-nav ul a:hover,
.main-nav ul a:focus {
    background-color: var(--color3);
    letter-spacing: .125rem;
    font-weight: bold;
}

.main-nav li{
    padding: .25rem 0;
    border-bottom: 1px solid var(--color5);
}

kbd {
    background-color: #eee;
    border-radius: .1875rem;
    border: .0625rem solid #b4b4b4;
    box-shadow: 0 .125rem .0625rem rgba(0, 0, 0, 0.2), 0 .125rem;
    color: #333;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    padding: .125rem .25rem;
}

.card {
    max-width: 46.25rem;
    background-color: var(--color2);
    padding: 0;
}

.card_content {
    padding: .5rem 1rem 1.5rem;
}

.card_content p, .card_content h3 {
    margin: 0;
}

.card_content h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.card img {
    max-width: 100%;
}

.row {
    display: flex;
    gap: var(--default-gap);
    padding-top: 1.5rem;
    justify-content: space-between;
}

.row .row {
    padding-top: 0;
}

.row>* {
    flex-grow: 1;
    width: 12.5rem;
}

.alternate {
    list-style-type: none;
    padding-left: 0px;
}

.alternate li {
    padding: 0px;
}

.alternate li:not(:last-child) {
    border-bottom: .125rem solid;
}

.roman {
    list-style-type: upper-roman;
}

.list-emoji {
    list-style-type: "\1F642";
}

input, label {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

label {
    font-size: 1.2rem;
}

input[type="radio"],
input[type=checkbox] {
    width: auto;
    margin: .8rem 0;
}

input, textarea, select {
    background-color: var(--color4);
    padding: 1.2rem;
    border-radius: .3125rem;
    margin-bottom: 1.6rem;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    resize: none;
}

.btn {
    background-color: var(--color2);
    outline: .125rem solid var(--color6);
    color: white;
    cursor: pointer;
    padding: 1.2rem;
    border-radius: .3125rem;
}

.btn:hover, .btn:focus {
    background-color: var(--color7);
}

.form-quiz {
    width: calc(50% - (var(--default-gap) / 2));
}

.btn-stroke {
    background-color: transparent;
}

.btn-big {
    font-size: 1.6rem;
    margin-left: 2rem;
}

.btn-full {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.btn-full+.btn-full {
    margin-left: 0;
    margin-top: 2rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .125rem;
}

.table td, .table th {
    padding: 1rem;
}

.table:not(.table-alternate, .table-verticalLines) td {
    border-bottom: 2px solid var(--color2);
}


.table:not(.table-alternate, .table-verticalLines) tr:last-child td {
    border: none;
}

.table td:last-child, .table th:last-child {
    text-align: right;
}

.table-alternate tbody tr:nth-child(odd) {
    background-color: var(--color2);
}

.table-verticalLines td:not(:last-child),
.table-verticalLines th:not(:last-child){
    border-right: 2px solid var(--color2);
}

.table-section{
    margin: 6rem 0 2rem;
}